html,
body {
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.bi-star-fill,
.bi-star-half,
.bi-star {
    color: yellow;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header .logo h1 {
    margin: 0;
}

header .logo h1 a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    transform: scale(1.10);
}

nav ul li a:hover {
    color: #007BFF;
}

.destaque {
    background: #e4e4e4;
    padding: 2rem;
    text-align: center;
    margin-top: 80px;
}

.destaque h2 {
    margin-bottom: 0.5rem;
}

.ets2-title {
    text-align: center;
    padding: 1rem;
}

.ets2-title h2 {
    margin-bottom: 0.5rem;
}

.mods-list a {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

a {
    text-decoration: none;
}

.mod-item {
    display: flex;
    align-items: flex-start;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.01rem;
    padding: 1rem;
    width: 90%;
    transition: transform 0.3s;
}

.mod-item img {
    max-width: 200px;
    height: 150px;
    border-radius: 5px;
    margin-right: 1rem;
}

.mod-item .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #7d7d7d;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    font-size: 25px;
    border-radius: 5px;
    margin-right: 1rem;
    border: 1px solid #ccc;
}

.mod-details {
    display: flex;
    flex-direction: column;
}

.mod-item:hover {
    transform: scale(1.05);
}

.pagination {
    text-align: center;
    padding: 1rem;
}

.pagination a {

    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.pagination span {
    margin: 0 5px;
}

.pagination a:hover {
    transform: scale(1.10);
}

.center {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem 5rem auto;
    padding: 1rem;
}

.icone {
    width: 5%;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .mod-item {
        width: 90%;
    }

    .center {
        margin: 1rem 3rem auto;
        padding: 1rem;
    }

    .icone {
        width: 25%;
    }
}

@media (max-width: 480px) {
    .mod-item {
        flex-direction: column;
        align-items: center;
    }

    .mod-item img {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .center {
        margin: 1rem 1rem auto;
        padding: 1rem;
    }
}